.nav{
    height: 100px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}

.nav-title{
    display: flex;
    margin: 20px;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links{
    display: flex;
}

.btn{
    background-color: #17a2b8;
    box-shadow: 3px 3px black;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    display: flex;
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}